<%- include("./layout/head") %>
  <body>
    <h1>Transfer Result</h1>
    <% if (success) { %>
    <p><strong>Transfer successful!</strong></p>
    <% } else { %>
    <p><strong>Transfer failed!</strong></p>
    <% } %>
    <a href="/transfer">Go back</a>
  </body>
</html>
